<article>
    <h2>{{strings/article/0/title}}</h2>
    <p>{{strings/article/0/text/0/p}}</p>
    <p id="url-line"></p>
    <button onclick="window.location.href = '/'">{{strings/article/0/btn/0/btn}}</button>
</article>