main article {
    background-color: rgba(0, 0, 0, .5);
    margin-top: 3rem;
    text-align: center;
    padding: 1rem 0rem;
}

    main article h2 {
        font-size: 2.5rem;
        color: white;
        font-style: italic;
    }

    main article form {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

        main article form input {
            margin-top: .5rem;
            background-color: rgba(0, 0, 0, .5);
            width: 90%;
            max-width: 500px;
            padding: .2rem .5rem;
            font-size: 1.5rem;
            border: 0;
            border-bottom: 2px solid white;
            text-align: center;
            color: white;
            cursor: text;
        }

        main article form select {
            margin-top: .5rem;
            background-color: rgba(0, 0, 0, .5);
            width: 90%;
            max-width: 500px;
            padding: .2rem .5rem;
            font-size: 1.5rem;
            border: 0;
            border-bottom: 2px solid white;
            text-align: center;
            color: white;
            cursor: pointer;
        }

            main article form select option {
                cursor: pointer;
            }

        main article form button {
            margin-top: 1rem;
            font-size: 1.5rem;
            padding: .5rem 1rem;
            font-style: italic;
            border-radius: 25px;
            background-color: black;
            border: 3px solid white;
            color: white;
            cursor: pointer;
        }

            main article form button:hover {
                background-color: rgba(255, 255, 255, .2);
            }

    main article a {
        font-size: 1.2rem;
        color: white;
        cursor: pointer;
    }