<article>
    <h2>{{strings/article/0/title}}</h2>
    <section class="tickets-list" id="tickets-list">
        <ul></ul>
    </section>
</article>
<article id="tickets" style="display: none;">
</article>