* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman';
    cursor: default;
    outline: none;
}

body {
    width: 100%;
}

#background-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

    #background-image img {
        min-width: 100vw;
        min-height: 100vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    #background-image .background-opacity {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .2);
    }

header {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: sticky;
    top: 0;
}

main {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    top: 100vh;
    transform: translateY(-100%);
    z-index: 100;
}

    footer p {
        font-size: 1.1rem;
        padding-top: .2rem;
        padding-bottom: .2rem;
        width: 100%;
        text-align: center;
    }